 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BS in Computer Science</h4>
    <h5 class="meta">University of Southern California</h5>
    <div class="time">2016 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Computer Science</h4>
    <h5 class="meta">Syracuse University</h5>
    <div class="time">2015 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->
